html {
    background-image: url(../../assets/images/pattern.png);
    background-size: 110px;
}

body {
    margin: 0;
}

.Logos {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);

    .Logos-burza {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 84px;
        overflow: hidden;

        img {
            position: absolute;
            top: 50%;
            left: 0;
            max-width: none;
            transform: translate(0,-50%);
        }

        @media screen and (min-width: 450px) {
            width: auto;
            height: auto;

            img {
                position: relative;
                top: 0;
                max-width: 100%;
                transform: translate(0,0);
            }
        }
    }

    img {
        max-width: 70%;
        height: auto;
        max-height: 54px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;

        @media screen and (min-width: 450px) {
            max-width: 100%;
        }
    }
}

iframe {
    border: 0;
}


h1,
.Place-link {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 50px;
}

    .Place-link {
        text-decoration: none;
        color: #FF7400;
    }

h2 {
    font-weight: bold;
}

.fb-stretch {
    align-items: stretch;

    > div {
        border-right: #e3e3e3 1px solid;
        border-bottom: #e3e3e3 1px solid;
    }
}

.Main {
    padding-bottom: 50px;
}

.Nomz-item {
    padding: 0 !important;
}

.Nomz-title {
    margin-top: 10px;
    line-height: 1.2;
}

.Nomz-info {
    overflow: visible !important;
    height: auto !important;
    font-size: 20px !important;

    span, svg {
        display: inline-block;
        vertical-align: middle;
    }

    svg {
        fill: rgba(0, 0, 0, 0.541176) !important;
    }

    span:not(:empty) {
        display: block;
        margin: 5px 0;
    }

}
